.app-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.app-top {
  text-align: left;
  border-bottom: 1px solid #ccc;

  h1 {
    margin-left: 1rem;
  }
}

.app-bottom {
  display: flex;
  flex-direction: column;
}
